<app-livreur-navbar></app-livreur-navbar>

<h2 class="titre">🚚 Commandes en cours de livraison</h2>

<table *ngIf="commandesEnCours.length > 0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Client</th>
      <th>Adresse</th>
      <th>État</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let c of commandesEnCours">
      <td>{{ c.id_commande }}</td>
      <td>{{ c.utilisateur.nom }} {{ c.utilisateur.prenom }}</td>
      <td>{{ c.utilisateur.adresse }}</td>
      <td class="etat">En cours de livraison</td>

      <td>
        <button class="btn" (click)="livrer(c.id_commande)">
          Livrée ✔
        </button>
      </td>
    </tr>
  </tbody>
</table>

<p *ngIf="commandesEnCours.length === 0" class="vide">
  Aucune commande en cours de livraison.
</p>
