.paiement-page {
  background: #f3dede;
  min-height: 100vh;
  padding: 40px 80px;

  h2 {
    font-size: 26px;
    color: #5a2a2a;
    margin-bottom: 15px;
  }

  h3 {
    font-size: 20px;
    margin-top: 25px;
    color: #5a2a2a;
  }

  /* Options */
  .paiement-options,
  .livraison-options {
    margin-top: 10px;
    display: flex;
    gap: 30px;

    label {
      font-size: 16px;
      cursor: pointer;

      input {
        margin-right: 10px;
      }
    }
  }

  .card-box {
    margin-top: 20px;

    input {
      padding: 10px;
      width: 280px;
      border: 1px solid #bbb;
      border-radius: 5px;
    }

    .row {
      display: flex;
      gap: 15px;
      margin-top: 10px;

      input {
        width: 160px;
      }
    }
  }

  .total-box {
    margin-top: 30px;
    background: #c98d8d;
    width: 180px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
  }

  .payer-btn {
    margin-top: 25px;
    background: #c98989;
    border: none;
    padding: 12px 35px;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
}
