.form-container {
  display: flex;
  gap: 40px;
  padding: 30px;
}

.image-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.upload-btn {
  background: #d09ca6;
  color: rgb(211, 136, 136);
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  width: 150px;

  input {
    display: none;
  }
}

.preview-box {
  width: 220px;
  height: 220px;
  border-radius: 12px;
  background: #f8eaea;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.form-fields {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;

  input, textarea, select {
    padding: 10px;
    border: 1px solid #d9b8c4;
    border-radius: 6px;
    font-size: 16px;
  }
}

.row {
  display: flex;
  gap: 20px;

  input {
    flex: 1;
  }
}

.submit-btn {
  background: #8d4b55;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 17px;
  margin-top: 10px;
}
