<div class="profil-page" *ngIf="utilisateur">

  <div class="header-profil">
    <h2>Mon profil</h2>
    <a class="logout" (click)="deconnexion()">Déconnexion</a>
  </div>

  <!-- MODE AFFICHAGE -->
  <div class="profil-card" *ngIf="!editMode">

    <div class="avatar-container">
      <img [src]="preview || getImageUrl()" class="avatar">

    </div>

    <p class="name">{{ utilisateur.nom }} {{ utilisateur.prenom }}</p>

    <div class="info-block">
      <p><strong>Email :</strong> {{ utilisateur.email }}</p>
      <p><strong>Téléphone :</strong> {{ utilisateur.telephone }}</p>
      <p><strong>Adresse :</strong> {{ utilisateur.adresse }}</p>
    </div>

    <div class="actions">
      <button (click)="activerEdition()">Modifier</button>
    </div>
  </div>

  <!-- MODE EDITION -->
  <div class="profil-card" *ngIf="editMode">

    <h3>Modifier le profil</h3>

    <div class="avatar-edit">
      <img
        [src]="preview || getImageUrl()"
        class="avatar"
      >

      <label class="btn-upload">
        Changer photo
        <input type="file" accept="image/*" (change)="onFileSelected($event)">
      </label>
    </div>

    <form [formGroup]="profilForm" (ngSubmit)="enregistrer()">

      <div class="form-grid">
        <div class="left">
          <label>Email</label>
          <input type="email" formControlName="email">

          <label>Nom</label>
          <input type="text" formControlName="nom">

          <label>Prénom</label>
          <input type="text" formControlName="prenom">
        </div>

        <div class="right">
          <label>Téléphone</label>
          <input type="text" formControlName="telephone">

          <label>Adresse</label>
          <input type="text" formControlName="adresse">
        </div>
      </div>

      <div class="actions">
        <button type="submit">Enregistrer</button>
        <button type="button" class="secondary" (click)="annuler()">Annuler</button>
      </div>

    </form>

  </div>

</div>
